body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;

}
h1{
    font-size: 50px;
}
.love{
    color: #FFA500;
    font-size: 45PX;
}
section{
    display: flex;
}
.half-width{
    width: 35%;
    padding-left: 9%;
}
section p{
    word-spacing: 3px;
    line-height: 30px;
    font-size: 21px;
    color: gray;
    
}
.half-width img{
    width: 110%;
}
.my-link{
    text-decoration:none;
    background: linear-gradient(#ff916dd8,#ff694e);
    padding: 11px 41px;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
    
        
}
.top-bennar{
    background-image: url(images/top-benner.png);
    background-repeat: no-repeat;
    
}

.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 16%;
}
.color{
    color: #FFA539;
}
.Experiences2nd{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow:5px 22px 40px grey;
    border-radius: 10px;
    line-height: 20px;
    padding: 80px;
    border-left: 9px solid;
    border-image:linear-gradient(#ff916dd8,#ff694e);
    border-image-slice: 1;

}
.exp{
    padding-left: 5%;
}
#shopu{
    border-left: 9px solid;
    border-image:linear-gradient(#000DFF,#00F0FF);
    border-image-slice: 1;
}
.sobkisuamar{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
footer p{
    text-align: center;
    font-size: 20px;
    color: rgb(97, 96, 96);
}